[submodule "ffmpeg"]
	path = libs/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
	branch = master
[submodule "opencv"]
	path = libs/opencv
	url = https://github.com/opencv/opencv.git
[submodule "PRSM"]
	path = external/algorithms/PRSM-sceneflow
	url = https://github.com/vogechri/PRSM
	branch = master
[submodule "boost"]
	path = libs/boost
	url = https://github.com/boostorg/boost.git
	branch = master
[submodule "pkg-config-generator"]
	path = utils/pkg-config-generator
	url = https://github.com/nmante/pkg-config-generator.git
	branch = master
[submodule "gnuplot-iostream"]
	path = utils/gnuplot-iostream
	url = https://github.com/dstahlke/gnuplot-iostream.git
	branch = master
[submodule "protobuf"]
	path = libs/protobuf
	url = https://github.com/google/protobuf
	branch = master
[submodule "libuvc"]
	path = libs/libuvc
	url = https://github.com/ktossell/libuvc
	branch = master
[submodule "mrpt"]
	path = project/mrpt
	url = https://github.com/MRPT/mrpt.git
[submodule "pcl"]
	path = libs/pcl
	url = https://github.com/PointCloudLibrary/pcl.git
	branch = master
[submodule "graphviz"]
	path = libs/graphviz
	url = https://github.com/ellson/graphviz.git
[submodule "VirtualTestDriveFramework"]
	path = project/VirtualTestDriveFramework
	url = git@atreus.informatik.uni-tuebingen.de:PerceptionSandbox-Fork/VirtualTestDriveFramework.git
[submodule "overleaf-maths"]
	path = overleaf/maths
	url = https://git.overleaf.com/10769078vhnvxscwscbm
[submodule "overleaf-marcelBA"]
	path = overleaf/marcelBA
	url = https://git.overleaf.com/9933334yfshcrdkdfhx
[submodule "philipp-BA"]
	path = overleaf/philippBA
	url = https://git.overleaf.com/10991069gqnknnppvsjj
[submodule "cockpit"]
	path = overleaf/cockpit
	url = https://git.overleaf.com/10975940fxjsvpkymnts
