[submodule "ffmpeg"]
	path = libs/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
	ignore = dirty
[submodule "opencv"]
	path = libs/opencv
	url = https://github.com/opencv/opencv.git
	ignore = dirty
[submodule "PRSM"]
	path = external/algorithms/PRSM-sceneflow
	url = https://github.com/vogechri/PRSM
	ignore = dirty
[submodule "boost"]
	path = libs/boost
	url = https://github.com/boostorg/boost.git
	ignore = dirty
[submodule "gnuplot-iostream"]
	path = libs/gnuplot-iostream
	url = https://github.com/dstahlke/gnuplot-iostream.git
	ignore = dirty
[submodule "protobuf"]
	path = libs/protobuf
	url = https://github.com/google/protobuf
[submodule "libuvc"]
	path = libs/libuvc
	url = https://github.com/ktossell/libuvc
	ignore = dirty
[submodule "mrpt"]
	path = project/mrpt
	url = https://github.com/MRPT/mrpt.git
	ignore = dirty
[submodule "pcl"]
	path = libs/pcl
	url = https://github.com/PointCloudLibrary/pcl.git
	ignore = dirty
[submodule "graphviz"]
	path = libs/graphviz
	url = https://github.com/ellson/graphviz.git
[submodule "VirtualTestDriveFramework"]
	path = project/VirtualTestDriveFramework
	url = git@atreus.informatik.uni-tuebingen.de:PerceptionSandbox-Fork/VirtualTestDriveFramework.git
[submodule "overleaf-maths"]
	path = overleaf/maths
	url = https://git.overleaf.com/10769078vhnvxscwscbm
[submodule "overleaf-marcelBA"]
	path = overleaf/marcelBA
	url = https://git.overleaf.com/9933334yfshcrdkdfhx
[submodule "philipp-BA"]
	path = overleaf/philippBA
	url = https://git.overleaf.com/10991069gqnknnppvsjj
[submodule "cockpit"]
	path = overleaf/cockpit
	url = https://git.overleaf.com/10975940fxjsvpkymnts
[submodule "QtKittiVisualizer"]
	path = kitti_eval/QtKittiVisualizer
	url = https://github.com/MarkMuth/QtKittiVisualizer.git
	branch = master
	ignore = dirty
[submodule "kitti-pcl"]
	path = kitti_eval/kitti-pcl
	url = https://github.com/yanii/kitti-pcl.git
	ignore = dirty
[submodule "kitti2pcl"]
	path = kitti_eval/kitti2pcl
	url = https://github.com/jaejunlee0538/kitti2pcl.git
	ignore = dirty
[submodule "libs/pngpp"]
	path = libs/pngpp
	url = https://github.com/bysreg/pngpp.git
	ignore = dirty
[submodule "vtk"]
	path = libs/vtk
	url = https://gitlab.kitware.com/vtk/vtk.git
[submodule "external/pcl_manipulation"]
	path = external/pcl_manipulation
	url = https://github.com/Benzarti-Ilyess/pcl_manipulation.git
[submodule "external/VTDSource"]
	path = external/VTDSource
	url = git@atreus.informatik.uni-tuebingen.de:testcase-generation/VTDSource.git
[submodule "VIRES"]
	path = VIRES
	url = git@atreus.informatik.uni-tuebingen.de:Veikas/VIRES.git
[submodule "vires-interface"]
	path = libs/vires-interface
	url = git@atreus.informatik.uni-tuebingen.de:Veikas/vires-interface.git
[submodule "kitti_devkit_stereo_opticalflow_sceneflow"]
	path = libs/kitti_devkit_stereo_opticalflow_sceneflow
	url = git@atreus.informatik.uni-tuebingen.de:Veikas/kitti_devkit_stereo_opticalflow_sceneflow
[submodule "utils/pkg-config-generator"]
	path = utils/pkg-config-generator
	url = https://github.com/nmante/pkg-config-generator.git
[submodule "pix2pixHD"]
	path = project/NVIDIA/pix2pixHD
	url = https://github.com/NVIDIA/pix2pixHD.git
