VIRES/VTD.2.0/Doc/
VIRES/VTD.2.0/Runtime/
VIRES/VTD.2.0/Data/Distros/
VIRES/VTD.2.0/Data/Setups/Current
VIRES/VTD.2.0/Data/Projects/Current
VIRES/VTD.2.0/Data/Projects/OpenCRG/
libs/boost-install/
*.yaml
*.user
*.autosave
*.orig
results_*
*.pyc
*~
*.idea
cmake-build-debug/
external/algorithms/VSF-sceneflow-1.0/Results/
build/
release/
.project
.pydevproject
*.o
*.swp
*.mat
matlab/


